@media screen and (max-width: 450px) {
    .nome {
        position: absolute;
        top: 400px;
        font-size: 2em;
        transform-origin: bottom center;
        z-index: 10;
        --fl-speed: 0.8s;
        color: white; 
        animation-delay: 0.3s;
        animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
        font-family: "Love Ya Like A Sister", cursive;
        font-weight: 400;
        font-style: normal;
    }
}